#!/bin/sh
{
/usr/local/bin/docker pull alpine:latest
/usr/local/bin/docker run \
  -e BORG_REPO="{{ borg_repo }}" \
  -e BORG_RSH="ssh -i /root/.ssh/borgbase-partial" \
  -e BORG_PASSPHRASE={{ borg_passphrase }} \
  -e BACKUP_DIRS={{ backup_dirs }} \
  -v /mnt/data/supervisor/homeassistant/borg:/root \
  -v /mnt/data/supervisor/backup:/backup:ro \
  --cap-add SYS_ADMIN --device /dev/fuse \
  --security-opt apparmor:unconfined \
  --rm --name borg-backup \
  alpine:latest sh -c 'apk add --no-cache borgbackup openssh && borg create --stats --progress "${BORG_REPO}::$(date +%Y-%m-%d-%H-%M)" $BACKUP_DIRS && borg prune --list "${BORG_REPO}" --keep-daily=7 --keep-weekly=4 --keep-monthly=6'
/usr/bin/find /backup -type f -mtime +7 -exec /bin/rm -f {} \;
} > /homeassistant/.tmp-borg-backup.log 2>&1